## Armstrong number

In [9]:
for i in range(1001):
    num=i
    result=0
    n=len(str(i))
while(i!=0):
    digit=i%10
    result=result + digit**n
    i=i//10
    print(i)
#if num==result:
    #print(num)

100
10
1
0

## Pattern program

In [16]:
n=int(input("Enter number of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter number of rows:5
1
12
123
1234
12345

In [17]:
## tuple data type
#immutable in python
tuple1 = ("Abhishek","abhi",1,2,3)
print(tuple1)

('Abhishek', 'abhi', 1, 2, 3)

In [19]:
tuple2=()
tuple2

()

In [21]:
tuple1[2]

1

In [24]:
tuple1[0:2]

('Abhishek', 'abhi')

In [26]:
tuple1[1:]

('abhi', 1, 2, 3)

In [28]:
tuple1[0]="ark"

TypeError: 'tuple' object does not support item assignment

In [30]:
del tuple2

NameError: name 'tuple2' is not defined

In [32]:
len(tuple1)

5

In [35]:
tuple2=(1,2,3,4,5,6)
tuple3=tuple1+tuple2
tuple3

('Abhishek', 'abhi', 1, 2, 3, 1, 2, 3, 4, 5, 6)

In [38]:
4 in tuple2

True

In [40]:
max(tuple1)

TypeError: '>' not supported between instances of 'int' and 'str'